<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2>{{ object.title }}</h2>

<p>
  {{ object.text }}
</p>

<ul>
  {% for answer in answers %}

    <li><a href="{% url 'users:profile' prof_id=answer.profile.pk %}">
      {{ answer.profile.user.username }}</a>:
      {{ answer.text }}</li>
    <li>  Answer Score: {{ answer.score }} </li>
    <li>
      <form method="post" action="{% url 'qanda:upvote' pk=answer.pk %}">
        <input type="submit" value="Upvote"/></form></li>
      <form method="post" action="{% url 'qanda:downvote' pk=answer.pk %}">
        <input type="submit" value="Downvote"/>
      </form>
    </li>
  {% endfor %}
</ul>
<a href='{% url 'qanda:answer' pk=object.pk %}'>Answer this question</a>
{% endblock %}
