<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<h2>{{ object.title }}</h2>

<h4>{{ object.text }}</h4>

{% if object.profile != request.user.profile %}
<a href="{% url 'qanda:answer' pk=object.pk %}">Answer this question</a>
{% elif update_delete_time and update_delete_question %}
<a href="{% url 'qanda:update_question' pk=object.pk %}">Update</a> |
<a href="{% url 'qanda:delete_question' pk=object.pk %}">Delete</a>
{% endif %}
<br/>

{% for answer in answers_update_delete %}

<div class="question-container">
    <h5><a href="{% url 'users:profile' prof_id=answer.0.profile.pk %}">
        {{ answer.0.profile.user.username }}</a>:</h5>
    <h5>{{ answer.0.text }}</h5>
    Answer Score: {{ answer.0.score }}
    <br/>
    {% if answer.0.profile == request.user.profile %}
    {% if answer.1 %}
    <a href="{% url 'qanda:update_answer' pk=answer.0.pk %}">Update</a> |
    <a href="{% url 'qanda:delete_answer' pk=answer.0.pk %}">Delete</a>
    {% endif %}
    {% else %}
    {% if not answer.0.pk in votes %}
    <div class="votes">
        <div class="upvote">
            <form method="post" action="{% url 'qanda:upvote' pk=answer.0.pk %}">
                {% csrf_token %}
                <input type="submit" value="Upvote"/></form>
        </div>

        <div class="downvote">
            <form method="post" action="{% url 'qanda:downvote' pk=answer.0.pk %}">
                {% csrf_token %}
                <input type="submit" value="Downvote"/>
            </form>
        </div>
    </div>
    <br/>
    {% endif %}
    {% endif %}
</div>

<a href="{% url 'qanda:create_comment' pk=answer.0.pk %}">Comment</a><br />
{% for comment in answer.0.comment_set.all %}
<div class="comment">{{ comment.text }} -- {{ comment.profile }}</div>
{% endfor %}

{% endfor %}

{% endblock %}
